.body{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom, #0a144c, #240053);
}

.scroll-box{
    width: 90vw;
    height: 70vh;
    margin: 1vh auto auto;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, #310037, #080023);
    box-shadow: 0 0 10px #0088ff, 0 0 20px #0088ff;
    overflow-x: auto;
    overflow-y: auto;
    transition: box-shadow 800ms;
}
.scroll-box:hover{
    box-shadow: 0 0 10px #8a4cae, 0 0 20px #8a4cae, 0 0 30px #8a4cae;
}

#api_key{
    width: 20vw;
    height: 5vh;
    background-image: linear-gradient(to bottom right, #310037, #080023);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
    color: white;
    font-size: 4mm;
    font-family:
        "Segoe UI", "Microsoft YaHei",
        "PingFang SC", "Hiragino Sans GB",
        "Helvetica Neue", Helvetica, Arial,
        "Noto Sans", "WenQuanYi Micro Hei",
        sans-serif;
    transition: box-shadow 800ms;
}
#api_key:focus{
    box-shadow: 0 0 10px #4cae4c, 0 0 20px #4cae4c, 0 0 30px #4cae4c;
}

#base_url{
    width: 20vw;
    height: 5vh;
    background-image: linear-gradient(to bottom right, #310037, #080023);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
    color: white;
    font-size: 4mm;
    font-family:
        "Segoe UI", "Microsoft YaHei",
        "PingFang SC", "Hiragino Sans GB",
        "Helvetica Neue", Helvetica, Arial,
        "Noto Sans", "WenQuanYi Micro Hei",
        sans-serif;
    transition: box-shadow 800ms;
}
#base_url:focus{
    box-shadow: 0 0 10px #4cae4c, 0 0 20px #4cae4c, 0 0 30px #4cae4c;
}

#model_name{
    width: 20vw;
    height: 5vh;
    background-image: linear-gradient(to bottom right, #310037, #080023);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
    color: white;
    font-size: 4mm;
    font-family:
        "Segoe UI", "Microsoft YaHei",
        "PingFang SC", "Hiragino Sans GB",
        "Helvetica Neue", Helvetica, Arial,
        "Noto Sans", "WenQuanYi Micro Hei",
        sans-serif;
    transition: box-shadow 800ms;
}
#model_name:focus{
    box-shadow: 0 0 10px #4cae4c, 0 0 20px #4cae4c, 0 0 30px #4cae4c;
}

#submitChange{
    background-image: linear-gradient(to bottom right, #310037, #080023);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #0088ff, 0 0 20px #0088ff;
    opacity: 0;
    transform: scale(0);
    transition: box-shadow 800ms, transform 800ms;
}
#submitChange:hover{
    box-shadow: 0 0 10px #4cae4c, 0 0 20px #4cae4c, 0 0 30px #4cae4c;
}
#submitChange[open]{
    animation: open-window 800ms forwards;
}
@keyframes open-window{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

#input-box{
    position: absolute;
    bottom: 1vh;
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 15vh;
}

#ipt{
    display: flex;
    flex: 4;
    background-image: linear-gradient(to bottom right, #310037, #080023);
    border: none;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 10px #0088ff, 0 0 20px #0088ff;
    color: white;
    min-width: 0;
    font-size: 4mm;
    font-family:
        "Segoe UI", "Microsoft YaHei",
        "PingFang SC", "Hiragino Sans GB",
        "Helvetica Neue", Helvetica, Arial,
        "Noto Sans", "WenQuanYi Micro Hei",
        sans-serif;
    transition: box-shadow 800ms, flex 800ms;
}
#ipt:focus{
    flex: 6;
    box-shadow: 0 0 10px #4cae4c, 0 0 20px #4cae4c, 0 0 30px #4cae4c;
}

#button-box{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#set_api_button{
    flex: 1;
    background-image: linear-gradient(to bottom right, #310037, #080023);
    border: none;
    border-radius: 0 10px 0 0;
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
    color: white;
    font-size: 4mm;
    font-family:
        "Segoe UI", "Microsoft YaHei",
        "PingFang SC", "Hiragino Sans GB",
        "Helvetica Neue", Helvetica, Arial,
        "Noto Sans", "WenQuanYi Micro Hei",
        sans-serif;
    transition: box-shadow 800ms, flex 800ms ease-out;
}
#set_api_button:hover{
    flex: 4;
    box-shadow: 0 0 10px #4cae4c, 0 0 20px #4cae4c, 0 0 30px #4cae4c;
}

#post-button{
    flex: 1;
    background-image: linear-gradient(to bottom right, #310037, #080023);
    border: none;
    border-radius: 0 0 10px 0;
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
    color: white;
    font-size: 4mm;
    font-family:
        "Segoe UI", "Microsoft YaHei",
        "PingFang SC", "Hiragino Sans GB",
        "Helvetica Neue", Helvetica, Arial,
        "Noto Sans", "WenQuanYi Micro Hei",
        sans-serif;
    transition: box-shadow 800ms, flex 800ms ease-out;
}
#post-button:hover{
    flex: 4;
    box-shadow: 0 0 10px #4cae4c, 0 0 20px #4cae4c, 0 0 30px #4cae4c;
}

#submit{
    width: 5vw;
    height: 5vh;
    background-image: linear-gradient(to bottom right, #310037, #080023);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
    color: white;
    font-size: 4mm;
    font-family:
        "Segoe UI", "Microsoft YaHei",
        "PingFang SC", "Hiragino Sans GB",
        "Helvetica Neue", Helvetica, Arial,
        "Noto Sans", "WenQuanYi Micro Hei",
        sans-serif;
    transition: box-shadow 800ms, flex 800ms ease-out;
}
#submit:hover{
    flex: 4;
    box-shadow: 0 0 10px #4cae4c, 0 0 20px #4cae4c, 0 0 30px #4cae4c;
}

.user-input{
    font-size: 4mm;
    color: #ffd700;
    font-family:
        "Segoe UI", "Microsoft YaHei",
        "PingFang SC", "Hiragino Sans GB",
        "Helvetica Neue", Helvetica, Arial,
        "Noto Sans", "WenQuanYi Micro Hei",
        sans-serif;
    text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffd700;
}

.ai-output{
    font-size: 4mm;
    color: #55a7f3;
    font-family:
        "Segoe UI", "Microsoft YaHei",
        "PingFang SC", "Hiragino Sans GB",
        "Helvetica Neue", Helvetica, Arial,
        "Noto Sans", "WenQuanYi Micro Hei",
        sans-serif;
    text-shadow: 0 0 10px #55a7f3, 0 0 20px #55a7f3, 0 0 30px #55a7f3;
}