<!DOCTYPE html>
<html lang="zh">
    <head lang="zh">
        <meta charset="utf-8">
        <title>化学海龟汤</title>
        <link href="../static/css/styles.css" rel="stylesheet">
        <script src="../static/js/main.js"></script>
    </head>
    <body>
        <dir class="scroll-box" id="message-box">
            <p class="ai-output">嗨，我是一个可以和你一起游玩化学海龟汤的ai智能体，试着说：“开始游戏”</p>
        </dir>
        <dir>
            <textarea placeholder="点击输入文本" id="ipt"></textarea>
            <button onclick="post_to_ai()" id="post-button">发送</button>
        </dir>
        <dir>
            <input type="password" id="api_key" placeholder="自定义api_key">
            <input type="url" id="base_url" placeholder="自定义base_url">
            <input id="model_name" placeholder="自定义model_name">
            <button onclick="change_client()" id="submit">确定</button>
        </dir>
    </body>
</html>